<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <header>Header</header>
    <div id="main">
        <article>@RenderBody()</article>
        <nav>Nav</nav>
        <aside>Aside</aside>  
    </div>
    <footer>Footer</footer>
</body>
</html>
