@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="sliders" style="padding-top: 10px">
    <div class="aspect-ratio-169">
        <img src="../LayoutDomino/img/hero/domino_banner_2.jpg" alt="">
        <img src="../LayoutDomino/img/banner/banner-1.png" alt="">
        <img src="../LayoutDomino/img/hero/domino_banner_2.jpg" alt="">
        <img src="../LayoutDomino/img/banner/banner-1.png" alt="">
    </div>
    <div class="dot-container">
        <div class="dot activee"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
    </div>
</section>
<!-- Categories Section Begin -->
<section class="categories">
    <div class="container">
        <div class="menu_index" style="padding-top: 25px">
            <h2> Hôm Nay Ăn Gì? </h2>
        </div>
        <div class="row">
            <div class="categories__slider owl-carousel">
                <div class="col-lg-3">
                    <div class="categories__item set-bg" data-setbg="../LayoutDomino/img/categories/cat-1.png">
                        <h5><a href="#">Cheese Burger</a></h5>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="categories__item set-bg" data-setbg="../LayoutDomino/img/categories/cat-2.png">
                        <h5><a href="#">Lime Pesto</a></h5>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="categories__item set-bg" data-setbg="../LayoutDomino/img/categories/cat-3.png">
                        <h5><a href="#">Cheesy Maddess</a></h5>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="categories__item set-bg" data-setbg="../LayoutDomino/img/categories/cat-4.png">
                        <h5><a href="#">Seafood</a></h5>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="categories__item set-bg" data-setbg="../LayoutDomino/img/categories/cat-5.png">
                        <h5><a href="#">Pizzamin</a></h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="btn_seemore_display">
            <a asp-controller="Menu"><button class="btn_seemore">See More</button></a>
        </div>
    </div>
</section>
<!-- Categories Section End -->

<!-- Banner Begin -->
<div class="banner">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="banner__pic">
                    <img src="../LayoutDomino/img/banner/banner-1.png" alt="">
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="banner__pic">
                    <img src="../LayoutDomino/img/banner/banner-2.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Banner End -->
<!-- Latest Product Section Begin -->
<section class="latest-product spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="latest-product__text">
                    <h4>Latest Products</h4>
                    <div class="latest-product__slider owl-carousel">
                        <div class="latest-prdouct__slider__item">
                            <a href="#" class="latest-product__item">
                                <div class="latest-product__item__pic">
                                    <img src="../LayoutDomino/img/latest-product/lp-1.png" alt="">
                                </div>
                                <div class="latest-product__item__text">
                                    <h6>Crab Pool Security</h6>
                                    <span>$30.00</span>
                                </div>
                            </a>
                            <a href="#" class="latest-product__item">
                                <div class="latest-product__item__pic">
                                    <img src="../LayoutDomino/img/latest-product/lp-2.png" alt="">
                                </div>
                                <div class="latest-product__item__text">
                                    <h6>Crab Pool Security</h6>
                                    <span>$30.00</span>
                                </div>
                            </a>
                            <a href="#" class="latest-product__item">
                                <div class="latest-product__item__pic">
                                    <img src="../LayoutDomino/img/latest-product/lp-3.png" alt="">
                                </div>
                                <div class="latest-product__item__text">
                                    <h6>Crab Pool Security</h6>
                                    <span>$30.00</span>
                                </div>
                            </a>
                        </div>
                        <div class="latest-prdouct__slider__item">
                            <a href="#" class="latest-product__item">
                                <div class="latest-product__item__pic">
                                    <img src="../LayoutDomino/img/latest-product/lp-4.png" alt="">
                                </div>
                                <div class="latest-product__item__text">
                                    <h6>Crab Pool Security</h6>
                                    <span>$30.00</span>
                                </div>
                            </a>
                            <a href="#" class="latest-product__item">
                                <div class="latest-product__item__pic">
                                    <img src="../LayoutDomino/img/latest-product/lp-5.png" alt="">
                                </div>
                                <div class="latest-product__item__text">
                                    <h6>Crab Pool Security</h6>
                                    <span>$30.00</span>
                                </div>
                            </a>
                            <a href="#" class="latest-product__item">
                                <div class="latest-product__item__pic">
                                    <img src="../LayoutDomino/img/latest-product/lp-6.png" alt="">
                                </div>
                                <div class="latest-product__item__text">
                                    <h6>Crab Pool Security</h6>
                                    <span>$30.00</span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="latest-product__text">
                    <h4>Top Rated Products</h4>
                    <div class="latest-product__slider owl-carousel">
                        <div class="latest-prdouct__slider__item">
                            <a href="#" class="latest-product__item">
                                <div class="latest-product__item__pic">
                                    <img src="../LayoutDomino/img/latest-product/lp-7.png" alt="">
                                </div>
                                <div class="latest-product__item__text">
                                    <h6>Crab Pool Security</h6>
                                    <span>$30.00</span>
                                </div>
                            </a>
                            <a href="#" class="latest-product__item">
                                <div class="latest-product__item__pic">
                                    <img src="../LayoutDomino/img/latest-product/lp-8.png" alt="">
                                </div>
                                <div class="latest-product__item__text">
                                    <h6>Crab Pool Security</h6>
                                    <span>$30.00</span>
                                </div>
                            </a>
                            <a href="#" class="latest-product__item">
                                <div class="latest-product__item__pic">
                                    <img src="../LayoutDomino/img/latest-product/lp-9.png" alt="">
                                </div>
                                <div class="latest-product__item__text">
                                    <h6>Crab Pool Security</h6>
                                    <span>$30.00</span>
                                </div>
                            </a>
                        </div>
                        <div class="latest-prdouct__slider__item">
                            <a href="#" class="latest-product__item">
                                <div class="latest-product__item__pic">
                                    <img src="../LayoutDomino/img/latest-product/lp-4.png" alt="">
                                </div>
                                <div class="latest-product__item__text">
                                    <h6>Crab Pool Security</h6>
                                    <span>$30.00</span>
                                </div>
                            </a>
                            <a href="#" class="latest-product__item">
                                <div class="latest-product__item__pic">
                                    <img src="../LayoutDomino/img/latest-product/lp-5.png" alt="">
                                </div>
                                <div class="latest-product__item__text">
                                    <h6>Crab Pool Security</h6>
                                    <span>$30.00</span>
                                </div>
                            </a>
                            <a href="#" class="latest-product__item">
                                <div class="latest-product__item__pic">
                                    <img src="../LayoutDomino/img/latest-product/lp-6.png" alt="">
                                </div>
                                <div class="latest-product__item__text">
                                    <h6>Crab Pool Security</h6>
                                    <span>$30.00</span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="latest-product__text">
                    <h4>Review Products</h4>
                    <div class="latest-product__slider owl-carousel">
                        <div class="latest-prdouct__slider__item">
                            <a href="#" class="latest-product__item">
                                <div class="latest-product__item__pic">
                                    <img src="../LayoutDomino/img/latest-product/lp-1.png" alt="">
                                </div>
                                <div class="latest-product__item__text">
                                    <h6>Crab Pool Security</h6>
                                    <span>$30.00</span>
                                </div>
                            </a>
                            <a href="#" class="latest-product__item">
                                <div class="latest-product__item__pic">
                                    <img src="../LayoutDomino/img/latest-product/lp-2.png" alt="">
                                </div>
                                <div class="latest-product__item__text">
                                    <h6>Crab Pool Security</h6>
                                    <span>$30.00</span>
                                </div>
                            </a>
                            <a href="#" class="latest-product__item">
                                <div class="latest-product__item__pic">
                                    <img src="../LayoutDomino/img/latest-product/lp-3.png" alt="">
                                </div>
                                <div class="latest-product__item__text">
                                    <h6>Crab Pool Security</h6>
                                    <span>$30.00</span>
                                </div>
                            </a>
                        </div>
                        <div class="latest-prdouct__slider__item">
                            <a href="#" class="latest-product__item">
                                <div class="latest-product__item__pic">
                                    <img src="../LayoutDomino/img/latest-product/lp-5.png" alt="">
                                </div>
                                <div class="latest-product__item__text">
                                    <h6>Crab Pool Security</h6>
                                    <span>$30.00</span>
                                </div>
                            </a>
                            <a href="#" class="latest-product__item">
                                <div class="latest-product__item__pic">
                                    <img src="../LayoutDomino/img/latest-product/lp-6.png" alt="">
                                </div>
                                <div class="latest-product__item__text">
                                    <h6>Crab Pool Security</h6>
                                    <span>$30.00</span>
                                </div>
                            </a>
                            <a href="#" class="latest-product__item">
                                <div class="latest-product__item__pic">
                                    <img src="../LayoutDomino/img/latest-product/lp-4.png" alt="">
                                </div>
                                <div class="latest-product__item__text">
                                    <h6>Crab Pool Security</h6>
                                    <span>$30.00</span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Latest Product Section End -->
<!-- Blog Section Begin -->
<section class="from-blog spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title from-blog__title">
                    <h2>From The Blog</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="blog__item">
                    <div class="blog__item__pic">
                        <img src="../LayoutDomino/img/blog/blog-1.png" alt="">
                    </div>
                    <div class="blog__item__text">
                        <ul>
                            <li><i class="fa fa-calendar-o"></i> Oct 20,2024</li>
                            <li><i class="fa fa-comment-o"></i> 15</li>
                        </ul>
                        <h5><a href="#">Gợi ý món ngon sinh nhật và cách đặt tiệc cho bé ở Domino's Pizza</a></h5>
                        <p>Bật mí những món ăn trong ngày sinh nhật tại Domino’s Pizza như pizza đủ vị, cánh gà BBQ, xúc xích đút lò, bánh mì bơ tỏi, bánh cuộn quế,... thơm ngon hấp dẫn! </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="blog__item">
                    <div class="blog__item__pic">
                        <img src="../LayoutDomino/img/blog/blog-2.png" alt="">
                    </div>
                    <div class="blog__item__text">
                        <ul>
                            <li><i class="fa fa-calendar-o"></i> Oct 21,2024</li>
                            <li><i class="fa fa-comment-o"></i> 5</li>
                        </ul>
                        <h5><a href="#">TOP 6 món nướng BBQ ngoài trời cực ngon và hấp dẫn</a></h5>
                        <p>Cùng khám phá các món nướng BBQ ngoài trời như Pizza, cánh gà BBQ... </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="blog__item">
                    <div class="blog__item__pic">
                        <img src="../LayoutDomino/img/blog/blog-3.png" alt="">
                    </div>
                    <div class="blog__item__text">
                        <ul>
                            <li><i class="fa fa-calendar-o"></i> Oct 19,2024</li>
                            <li><i class="fa fa-comment-o"></i> 5</li>
                        </ul>
                        <h5><a href="#">Đi picnic ăn gì? 5 món ăn tuyệt vời khi cắm trại dã ngoại</a></h5>
                        <p>Đi picnic ăn gì? Cùng tham khảo các món ăn gợi ý như pizza, các món gà, mì Ý, bánh ngọt tráng miệng, cùng... </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Blog Section End -->

<script>
    const imgItem = document.querySelectorAll(".aspect-ratio-169 img")
    const imgItemContainer = document.querySelector(".aspect-ratio-169")
    const dotItem = document.querySelectorAll(".dot")
    let index = 0
    let imgLeng = imgItem.length
    let sliderInterval;

    imgItem.forEach(function (image, i) {
        image.style.left = i * 100 + "%" // Hiển thị % hình về bên trái
        dotItem[i].addEventListener("click", function () {
            slideRun(i)
            index = i // Cập nhật `index` sau khi nhấn
            resetInterval() // Reset lại interval
        })
    })

    function slider() {
        index++;
        if (index >= imgLeng) { index = 0 }
        slideRun(index)
    }

    function slideRun(i) {
        imgItemContainer.style.left = "-" + i * 100 + "%"
        const dotActive = document.querySelector(".activee")
        dotActive.classList.remove("activee")
        dotItem[i].classList.add("activee")
    }

    function resetInterval() {
        clearInterval(sliderInterval); // Dừng interval hiện tại
        sliderInterval = setInterval(slider, 2000); // Bắt đầu lại interval
    }

    // Bắt đầu interval
    sliderInterval = setInterval(slider, 2000);
</script>

<style> 
    #sliders {
        padding-bottom: 30px;
        overflow: hidden;
        border-bottom: 2px solid #000;
    }

    .aspect-ratio-169 {
        display: block;
        position: relative;
        padding-top: 45%;
        transition: all 0.3s ease;
    }

    .aspect-ratio-169 img {
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }

    .dot-container {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 6px;
    }

    .dot {
        width: 15px;
        height: 15px;
        background-color: #cccccc;
        border-radius: 50%;
        margin-right: 12px;
        cursor: pointer;
    }

    .activee {
        background-color: #333333;
    }
</style>
 