<div class="header__top">
</div>
<div class="container">
    <div class="row" style="background-color: #004666;">
        <div class="col-lg-3">
            <div class="header__logo">
                <a asp-controller="Home" asp-action="Index"><img src="../LayoutDomino/img/domino-horizontal-dark.svg"
                        alt=""></a>
            </div>
        </div>
        <div class="col-lg-6">
            <nav class="header__menu">
                <ul>
                    <li class="active"><a asp-controller="Home">Home</a></li>
                    <li><a asp-controller="Menu">Menu</a></li>
                    <li>
                        <a href="#">Pages</a>
                        <ul class="header__menu__dropdown">
                            <li><a href="./shop-details.html">Shop Details</a></li>
                            <li><a href="./shoping-cart.html">Shopping Cart</a></li>
                            <li><a href="./checkout.html">Check Out</a></li>
                            <li><a href="./blog-details.html">Blog Details</a></li>
                        </ul>
                    </li>
                    <li><a asp-controller="Blog">Blog</a></li>
                    <li><a href="./contact.html">Contact</a></li>
                </ul>
            </nav>
        </div>
        <div class="col-lg-3">
            <div class="header__cart">
                <ul>

                    @if (User.Identity.IsAuthenticated)
                    {
                        <li>
                            <div class="header__top__right__auth">
                                <a data-bs-toggle="modal" data-bs-target="#confirmLogoutModal">
                                    <div class="wrap__logout" wrap__logout"">
                                        <p><i class="fa fa-user"></i></p>
                                        <div class="div__logout">
                                            <p class="text__logout">Đăng xuất @User.Identity.Name</p>

                                        </div>

                                    </div>
                                </a>
                            </div>
                        </li>
                        <li>
                            <a asp-controller="Cart" asp-action="Index">
                                <i class="fa fa-shopping-bag"></i>
                                <span>@ViewBag.CartItemCount</span>                              
                            </a>
                        </li>


                    }
                    else
                    {
                        <li>
                            <div class="header__top__right__auth">
                                <a asp-controller="Sign" asp-action="SignIn"><i class="fa fa-user"></i> Login</a>
                            </div>
                        </li>

                    }
                </ul>

                <!-- Logout Confirmation Modal -->
                <div class="modal fade" id="confirmLogoutModal" tabindex="-1" aria-labelledby="confirmLogoutModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog modal-sm">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="confirmLogoutModalLabel"> Đăng Xuất</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body text-left">

                                Bạn Có Chắc Chắn Muốn Đăng Xuất?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                                <a asp-controller="Sign" asp-action="Logout" class="btn btn-danger">Đăng xuất</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="humberger__open">
    <i class="fa fa-bars"></i>
</div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    console.log("CartItemCount:", @ViewBag.CartItemCount);
</script>
